<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>改密码</title>
</head>
<body>
<h1>改密码</h1>

<form method="POST" th:action="${postTo}" id="openForm" th:object="${changePasswordForm}"
      th:attr="value=${session.changePasswordForm}">

  <label for="userPid">身份证号码: </label>
  <input type="text" th:field="*{userPid}"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('userPid')}"
        th:errors="*{userPid}">Invalid password</span><br/>

  <label for="password">新密码: </label>
  <input type="password" th:field="*{password}"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('password')}"
        th:errors="*{password}">Invalid password</span><br/>

  <label for="confirm">确认新密码: </label>
  <input type="password" th:field="*{confirm}"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('confirm')}"
        th:errors="*{confirm}">Password validation failed</span>
  <br/>

  <span th:if="${#fields.hasGlobalErrors()}"
        th:text="${#fields.globalErrors()[0]}"
        class="error-message"></span><br/>
  <input type="submit" value="提交"/>
  <span th:field="*{error}" th:if="${error!=null}" th:value="${error}"></span>
</form>
</body>
</html>