<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<form th:fragment="deposit_current(postTo,depositCurrentForm)" method="POST" th:action="${postTo}" id="depositCurrentForm" th:object="__${depositCurrentForm}__">

    <label for="money">存款金额：</label>
    <input type="number" th:field="*{money}">
    <span class="validationError"
          th:if="${#fields.hasErrors('money')}"
          th:errors="*{money}">Invalid deposit money</span><br/>

    <button type="submit">Deposit</button>
</form>
</html>