<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加部门</title>
</head>
<body>
<h1>添加部门</h1>

<form method="POST" th:action="@{/employee/register/add_department}" id="addDepartmentForm" th:object="${addDepartmentForm}">

    <label for="departmentName">企业名称: </label>
    <input type="text" th:field="*{departmentName}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('departmentName')}"
          th:errors="*{departmentName}">Invalid user name</span><br/>

    <span th:if="${#fields.hasGlobalErrors()}"
          th:text="${#fields.globalErrors()[0]}"
          class="error-message"></span><br/>
    <input type="submit" value="Register"/>
    <span th:field="*{error}" th:if="${error!=null}" th:value="${error}"></span>
    <!--    <button type="submit">提交</button>-->

</form>

</body>
</html>