<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="Monitor=${T(com.example.banksys.businesslogiclayer.aop.OpenAccountMonitor)}"
>
<head>
    <meta charset="UTF-8">
    <title>企业开户</title>
</head>
<body>
<h1>Open Enterprise Account</h1>

<form method="POST" th:action="@{/users/enterprise/open}" id="openForm" th:object="${openForm}">

    <label for="userName">姓名: </label>
    <input type="text" th:field="*{userName}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('userName')}"
          th:errors="*{userName}">Invalid user name</span><br/>

    <label for="userPid">身份证号码: </label>
    <input type="text" th:field="*{userPid}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('userPid')}"
          th:errors="*{userPid}">Invalid user pid</span><br/>

    <label for="cardType">账户类型: </label><br/>
    <input type="radio" name="cardType" th:value="${T(com.example.banksys.model.Card.CardType).CURRENT}" checked>活期账户<br/>
    <input type="radio" name="cardType" th:value="${T(com.example.banksys.model.Card.CardType).FIXED}">定期账户<br/>

    <label for="openMoney">开户金额: </label>
    <input type="number" th:field="*{openMoney}"/>
    <div th:text="'（企业用户开户金额不能少于' + ${Monitor.ENTERPRISE_OPEN_MONEY_THRESHOLD} + '元）'"></div>
    <span class="validationError"
          th:if="${#fields.hasErrors('openMoney')}"
          th:errors="*{openMoney}">Invalid open money</span><br/>

    <label for="enterprise">企业:</label>
    <select id="enterprise" name="enterprise" th:field="*{enterpriseId}">
        <option
                th:each="enterprise:${enterprises}"
                th:value="${enterprise.enterpriseId}"
                th:text="${enterprise.enterpriseName}"
        >
        </option>
    </select><br/>

    <label for="password">密码: </label>
    <input type="password" th:field="*{password}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Invalid open money</span><br/>

    <label for="confirm">确认密码: </label>
    <input type="password" th:field="*{confirm}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('confirm')}"
          th:errors="*{confirm}">Password validation failed</span>
    <br/>

    <span th:if="${#fields.hasGlobalErrors()}"
          th:text="${#fields.globalErrors()[0]}"
          class="error-message"></span><br/>
    <input type="submit" value="Register"/>
    <span th:field="*{error}" th:if="${error!=null}" th:value="${error}"></span>
<!--    <button type="submit">提交</button>-->

</form>
</body>
</html>