<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>银行系统分流页面</title>
</head>
<body>
<h1>银行系统分流页面</h1>

<h2>查询账户个人信息</h2>
<a href="/info">查询账户个人信息</a>

<h2>个人用户</h2>
<a href="/users/personal/">前往个人用户界面</a>

<h2>企业用户登录及开户</h2>
<a href="/users/enterprise/">企业用户登录</a><br>
<a href="/users/enterprise/open">企业用户开户</a>

<h2>银行雇员登录及注册</h2>
<a href="/employee/">雇员登录</a><br>
<a href="/employee/register/">雇员注册</a><br>

<h2>系统管理员登录</h2>
<a href="/admin/">管理员登录</a><br>
<!--<a href="/admin/register">管理员注册</a><br>-->

<h2>退出当前账户</h2>
<a href="/logout">退出当前账户</a>

<h2>退出当前操作的客户账户（供雇员使用）</h2>
<a href="/employee/impersonate/exit">退出当前操作的客户账户</a>

</body>
</html>
